name: Open Router Credit Check

on:
  workflow_dispatch:
  schedule:
    - cron: "5/30 * * * *" # run every 30 minutes, starting at 5 past the hour

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - id: check
        run: |
          echo "LIMIT_REMAINING=$(curl "https://openrouter.ai/api/v1/key" -H "Authorization: Bearer $OPEN_ROUTER_API_KEY" | jq -c '.data.limit_remaining')" >> $GITHUB_ENV
          echo "${{ env.LIMIT_REMAINING }}" >> $GITHUB_STEP_SUMMARY
